<<<<<<< HEAD .sidebar {
    margin: 10px;
    width: 100px;
    height: 100%;
    background-color: blue;
}

=======Newsfeed {
    font-family: Contrail One;
}

>>>>>>> 9753522f7d445d9671a11edaf1175c15493d6ebe .event-icon-wrapper {
    background-color: lightgray;
    height: 320px;
    width: 470px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.event-icon-name {
    font-size: 16px;
}

.event-icon-posted {
    font-size: 16px;
}

.event-icon-description {
    font-size: 16px;
}

.event-icon-location {
    font-size: 16px;
}

.event-icon-destination {
    font-size: 16px;
}

.event-icon-time {
    font-size: 16px;
}

.event-icon-picture {
    border-radius: 50%;
}

.event-date {
    font-size: 16px;
}

body {
    background-color: aqua;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.signin-container {
    padding: 50px;
    background-color: aliceblue;
    max-width: 500px;
    width: 75%;
    margin: auto;
    margin-top: 300px;
}

button {
    background-color: #555555;
    /* Black */
    border: none;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.confirmed-events-container {
    height: 50%;
    width: 100%;
    overflow-x: scroll;
    display: inline;
    overflow-y: hidden;
}

.confirmed-event-wrapper {
    float: left;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

button:hover {
    background-color: #555555;
    color: white;
}

.left {
    <<<<<<< HEAD display: inline-block;
    =======float: left;
    >>>>>>> 9753522f7d445d9671a11edaf1175c15493d6ebe
}

.right {
    float: right;
    margin-left: 10px;
    <<<<<<< HEAD
}

=======
}
>>>>>>> 9753522f7d445d9671a11edaf1175c15493d6ebe