.event-icon-wrapper {
    background-color: lightgray;
    height: 320px;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.event-icon-name {
    font-size: 16px;
    font-family: Righteous;

}
.event-icon-description {
    font-size: 16px;
    font-family: Righteous;
}

.event-icon-location {
    font-size: 16px;
    font-family:  Righteous;
}

.event-icon-destination {
    font-size: 16px;
    font-family: Righteous;
}

.event-icon-time {
    font-size: 16px;
    font-family: Righteous;
}

img .event-icon-wrapper {
    font-size: 16px;
    border-radius: 50%;
}

body {
    padding: 10px;
}

.signin-container {
    padding: 50px;
    background-color: aliceblue;
    max-width: 500px;
    width: 75%;
    margin: auto;
    margin-top: 300px;
}